---
import MarkdownContentBase from "@astrojs/starlight/components/MarkdownContent.astro";

const { heroVideoUrl, TLDR } = Astro.locals.starlightRoute.entry.data;
import YouTubeEmbed from "../YouTubeEmbed.astro";
---
{heroVideoUrl && <YouTubeEmbed videoId={heroVideoUrl} />}

{TLDR && <div class="tldr">
  <details>
    <summary><h3>TL;DR - Summary</h3></summary>
    <p>{TLDR}</p>
  </details>
</div>}

<MarkdownContentBase>
  <slot />
</MarkdownContentBase>
